<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <!-- <a href="#" class="simple-text logo-mini">
         <div class="logo-image-small">
          <img src="../assets/img/logo-small.png">
        </div>
         <p>CT</p> 
      </a> -->
      <a href="#" class="simple-text logo-normal">
        <!-- Creative Tim -->
         <div class="logo-image-big">
          <img src="/assets/img/logo-small.png">
        </div> 
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li id ='home'class="active ">
          <a  routerLink="/">
            <i class="fa fa-bug"></i>
            <p>Taux de PC infectés</p>
          </a>
        </li>
        <li>
          <a routerLink="/reclam">
            <i class="fa fa-flag"></i>
            <p>Nbr. Réclamation</p>
          </a>
        </li>
        <li>
          <a routerLink="/plan">
            <i class="fa fa-table"></i>
            <p>Plan d'action</p>
          </a>
        </li>
      </ul>
    </div>
  </div>