<section>
  <!-- Data Table plan d'action Corrective -->
  <div class="card-body">
    <h5>Infected Pcs table</h5>
    <button
      mat-flat-button
      color="primary"
      data-toggle="modal"
      data-target="#addActionCorrective"
    >
      New Infection
    </button>
  </div>
  <div class="row">
    <div class="col">
      <table
        class="table table-striped table-bordered table-hovered table-sm"
        cellspacing="0"
        style="width: 100%"
        id="dtBasicExample"
      >
        <thead>
          <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Nb infected PCs</th>
            <th>Nb Pcs</th>
            <th>Objective</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <td>{{ row.year }}</td>
            <td>{{ row.month }}</td>
            <td>{{ row.nb_infected }}</td>
            <td>{{ row.nb_pcs }}</td>
            <td>{{ row.objective }}</td>

            <td>
              <button
                class="btn btn-warning"
                (click)="getCurrentInfected(row['id'])"
                data-toggle="modal"
                data-target="#updateInfected"
              >
                Update
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="addActionCorrective"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Action</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-calendar" aria-hidden="true"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            [formControl]="year"
            placeholder="Year"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-exclamation-triangle" aria-hidden="true"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            [formControl]="month"
            placeholder="Month"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            [formControl]="nb_infected"
            placeholder="Nb Pc infectés"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-user-circle-o" aria-hidden="true"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            [formControl]="nb_pcs"
            placeholder="Nb Pcs"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-calendar" aria-hidden="true"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            [formControl]="objective"
            placeholder="Objective"
            aria-label="Objective"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="addRow()"
          data-dismiss="modal"
          class="btn btn-primary"
        >
          Enregistrer
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>

<!-- update infected Pcs Modal -->
<div
  class="modal fade"
  id="updateInfected"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modifier Action</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-calendar" aria-hidden="true"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            [formControl]="year"
            placeholder="Year"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-exclamation-triangle" aria-hidden="true"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            [formControl]="month"
            placeholder="Month"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            [formControl]="nb_infected"
            placeholder="NB Infected Pcs"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-user-circle-o" aria-hidden="true"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            [formControl]="nb_pcs"
            placeholder="NB Pcs"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa fa-calendar" aria-hidden="true"></i
            ></span>
          </div>
          <input
            type="input"
            class="form-control"
            [formControl]="objective"
            placeholder="objective"
            aria-label="objective"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          (click)="updateInfected(id)"
          data-dismiss="modal"
          class="btn btn-primary"
        >
          Enregistrer
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#dtBasicExample").DataTable({
      paging: false, // false to disable pagination (or any other option)
    });
    $(".dataTables_length").addClass("bs-select");
  });
</script>
