/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import "~ngx-toastr/toastr";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.indexTitle {
  padding: 21px;
  line-height: 7px;
  border: black 1px bold;
  border: 2px solid #959090;
  border-radius: 10px;
  margin: 10px;
}

.table td,
.table th {
  /* padding: 0.5rem; */
  padding-bottom: 15px;
  padding-top: 15px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table td,
.table th {
  /* padding: 0.5rem; */
  padding-bottom: 15px;
  padding-top: 15px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
}
