      <div class="container">
        <div class="row">
        <div class="col-sm-12">
          <h5>Taux de postes infectés (Virus, Malware, Attaque,SPAM..)</h5>
        </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="fa fa-shield text-grey"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Juillet</p>
                      <p class="card-title">0<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i>
                  Update Now
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="fa fa-shield"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Aout</p>
                      <p class="card-title">0<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i>
                  Update Now
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="fa fa-shield"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Septembre</p>
                      <p class="card-title">0<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i>
                  Update Now
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats bg-success">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="fa fa-shield"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Octobre</p>
                      <p class="card-title">0<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i>
                  Update now
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Data Table -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title"> Le pourcentage des PC infectés par rapport au nombre total de PC disponible au
                  MSPE</h5>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>

                      </th>
                      <th>
                        Janvier
                      </th>
                      <th>
                        Fevrier
                      </th>
                      <th>
                        Mars
                      </th>
                      <th>
                        Avril
                      </th>
                      <th>
                        Maie
                      </th>
                      <th>
                        Juin
                      </th>
                      <th>
                        Juillet
                      </th>
                      <th>
                        Aout
                      </th>
                      <th>
                        Septembre
                      </th>
                      <th>
                        Octobre
                      </th>
                      <th>
                        Nouvembre
                      </th>
                      <th>
                        Decembre
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Nombre des Réclamations Non résolues
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Nombre de pc
                        </td>
                        <td>
                          92
                        </td>
                        <td>
                          92
                        </td>
                        <td>
                          92
                        </td>
                        <td>
                          92
                        </td>
                        <td>
                          93
                        </td>
                        <td>
                          95
                        </td>
                        <td>
                          98
                        </td>
                        <td>
                          101
                        </td>
                        <td>
                          101
                        </td>
                        <td>
                          101
                        </td>
                        <td>
                          101
                        </td>
                        <td>
                          101
                        </td>
                      </tr>
                      <tr class="table-danger">
                        <td>
                          Taux nbre de PC infectées %
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                          0.00
                        </td>
                        <td>
                          0.00
                        </td>

                      </tr>
                      <tr class="table-primary">
                        <td>
                          Objectifs
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>
                        <td>
                          0
                        </td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- END Data table -->
        
        <!-- chart -->
        <div class="row">
          <div class="col-md-12">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-title"></h5>
                <p class="card-category"></p>
              </div>
              <div class="card-body">
                <canvas id="lineChart" width="400" height="100"></canvas>
              </div>
              <div class="card-footer">
                <div class="chart-legend">
                  <i class="fa fa-circle text-info"></i> Taux nbr de PC infectés %
                  <i class="fa fa-circle text-danger"></i> Objectifs
                </div>
                <hr />
                <div class="card-stats">
                  <i class="fa fa-check"></i> Data information certified
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
    
  