<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="title">
        <h5>Plan d'actions</h5>
      </div>
    </div>
    <div classe="col-sm-4">
    </div>
  </div>
</div>
<section>
 <!-- Data Table plan d'action Corrective -->
 <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5>Plan d'action corrective</h5>
        <button mat-flat-button color="primary"  data-toggle="modal" data-target="#addActionCorrective"> Nouvelle action</button>
        <table mat-table [dataSource]="dataCorrective" class="mat-elevation-z8">
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <ng-container *matHeaderCellDef>
              <th mat-header-cell  *ngIf="column != 'ProblemAnalyse'">  {{column}}  </th>
              <th mat-header-cell  *ngIf="column == 'ProblemAnalyse'">
                Problem / Analyse
              </th>
            </ng-container>
            <!-- <th mat-header-cell *matHeaderCellDef> {{column}} </th> -->
            <ng-container *matCellDef="let element">
              <td mat-cell *ngIf="column != 'Abarbeitungsstatus'"> {{element[column]}} </td>
              <td mat-cell *ngIf="column == 'Abarbeitungsstatus'">
                <div class="progress">
                  <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width':element[column]}" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100">
                    {{element[column]}}
                  </div>
                </div>
                <a (click)="getIdAction(element['id'])" data-toggle="modal" data-target="#setProgressActionCorrectiveModal">
                  <span class="badge"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                </a>
                <a (click)="deleteAction(element['id'],'/comments')">
                  <span class="badge"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                </a>
                <a (click)="getCurrentActionInformation(element['id'],'/comments')" data-toggle="modal" data-target="#updateActionCorrectiveModal">
                  <span class="badge"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                </a> 
                
              </td>
            </ng-container>
            <ng-container *matCellDef="let element">
              <td mat-cell *ngIf="column != 'edit'">no</td>
              <td mat-cell *ngIf="column == 'edit'">ok</td>
            </ng-container>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
  <!-- Data Table plan d'action Presentive -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5>Plan d'action préventive</h5>
          <button mat-flat-button color="primary"  data-toggle="modal" data-target="#addActionPresentive"> Nouvelle action</button>
          <table mat-table [dataSource]="data" class="mat-elevation-z8">
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
              <ng-container *matHeaderCellDef>
                <th mat-header-cell  *ngIf="column != 'ProblemAnalyse'">  {{column}}  </th>
                <th mat-header-cell  *ngIf="column == 'ProblemAnalyse'">
                  Problem / Analyse
                </th>
              </ng-container>
              <!-- <th mat-header-cell *matHeaderCellDef> {{column}} </th> -->
              <ng-container *matCellDef="let element">
                <td mat-cell *ngIf="column != 'Abarbeitungsstatus'"> {{element[column]}} </td>
                <td mat-cell *ngIf="column == 'Abarbeitungsstatus'">
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width':element[column]}" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100">
                      {{element[column]}}
                    </div>
                  </div>
                  <a (click)="getIdAction(element['id'])" data-toggle="modal" data-target="#setProgressActionPresentiveModal">
                    <span class="badge"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                  </a>
                  <a (click)="deleteAction(element['id'],'/posts')">
                    <span class="badge"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                  </a>
                  <a (click)="getCurrentActionInformation(element['id'],'/posts')" data-toggle="modal" data-target="#updateActionPresentiveModal">
                    <span class="badge"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                  </a> 
                  
                </td>
              </ng-container>
              <ng-container *matCellDef="let element">
                <td mat-cell *ngIf="column != 'edit'">no</td>
                <td mat-cell *ngIf="column == 'edit'">ok</td>
              </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- my modal -->

 
  <!-- new action presentif Modal -->
<div class="modal fade" id="addActionCorrective" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="mois" placeholder="Mois" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-exclamation-triangle"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="problem" placeholder="Probleme / Analyse" 
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="mass" placeholder="Massnahmen" 
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="veran" placeholder="Verantwortlich" 
            aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="termin" placeholder="Termin" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>   
        <section class="example-section">
          <mat-radio-group [(ngModel)]="labelPosition">
            <mat-radio-button class="example-margin" value="25%">25%</mat-radio-button>
            <mat-radio-button class="example-margin" value="50%">50%</mat-radio-button>
            <mat-radio-button class="example-margin" value="75%">75%</mat-radio-button>
            <mat-radio-button class="example-margin" value="100%">100%</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
      <div class="modal-footer">
        
        <button type="button"  (click)="addRow('/comments')"  data-dismiss="modal" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<!-- new action presentif Modal -->
<!-- new action Corrective  Modal -->
<div class="modal fade" id="addActionPresentive" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="mois" placeholder="Mois" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-exclamation-triangle"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="problem" placeholder="Probleme / Analyse" 
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="mass" placeholder="Massnahmen" 
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="veran" placeholder="Verantwortlich" 
            aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="termin" placeholder="Termin" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>   
        <section class="example-section">
          <mat-radio-group [(ngModel)]="labelPosition">
            <mat-radio-button class="example-margin" value="25%">25%</mat-radio-button>
            <mat-radio-button class="example-margin" value="50%">50%</mat-radio-button>
            <mat-radio-button class="example-margin" value="75%">75%</mat-radio-button>
            <mat-radio-button class="example-margin" value="100%">100%</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
      <div class="modal-footer">
        
        <button type="button"  (click)="addRow('/posts')"  data-dismiss="modal" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<!-- new action Corrective Modal -->

 <!-- update action Corrective Modal -->
 <div class="modal fade" id="updateActionCorrectiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modifier Action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="mois" placeholder="Mois" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-exclamation-triangle"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="problem" placeholder="Probleme / Analyse" 
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="mass" placeholder="Massnahmen" 
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="veran" placeholder="Verantwortlich" 
            aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="termin" placeholder="Termin" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>
       
        <section class="example-section">
          <mat-radio-group [(ngModel)]="labelPosition">
            <mat-radio-button class="example-margin" value="25%">25%</mat-radio-button>
            <mat-radio-button class="example-margin" value="50%">50%</mat-radio-button>
            <mat-radio-button class="example-margin" value="75%">75%</mat-radio-button>
            <mat-radio-button class="example-margin" value="100%">100%</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
      <div class="modal-footer">
        
        <button type="button"  (click)="updateAction('/comments')"  data-dismiss="modal" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<!-- update action Corrective Modal -->
<!-- update action Presentive Modal -->
<div class="modal fade" id="updateActionPresentiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modifier Action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="mois" placeholder="Mois" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-exclamation-triangle"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="problem" placeholder="Probleme / Analyse" 
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="mass" placeholder="Massnahmen" 
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="veran" placeholder="Verantwortlich" 
            aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"
                aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" [formControl]="termin" placeholder="Termin" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>
       
        <section class="example-section">
          <mat-radio-group [(ngModel)]="labelPosition">
            <mat-radio-button class="example-margin" value="25%">25%</mat-radio-button>
            <mat-radio-button class="example-margin" value="50%">50%</mat-radio-button>
            <mat-radio-button class="example-margin" value="75%">75%</mat-radio-button>
            <mat-radio-button class="example-margin" value="100%">100%</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
      <div class="modal-footer">
        
        <button type="button"  (click)="updateAction('/posts')"  data-dismiss="modal" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<!-- update action Presentive Modal -->


<!-- set progress action presentive modal -->
<div class="modal fade" id="setProgressActionPresentiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modifier votre progression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <section class="example-section">
          <mat-radio-group [(ngModel)]="labelPosition">
            <mat-radio-button class="example-margin" value="25%">25%</mat-radio-button>
            <mat-radio-button class="example-margin" value="50%">50%</mat-radio-button>
            <mat-radio-button class="example-margin" value="75%">75%</mat-radio-button>
            <mat-radio-button class="example-margin" value="100%">100%</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
      <div class="modal-footer">
        
        <button type="button"  (click)="setProgressAction('/posts')"  data-dismiss="modal" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<!-- set progress action Presentive modal -->
<!-- set progress action Corrective modal -->
<div class="modal fade" id="setProgressActionCorrectiveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modifier votre progression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <section class="example-section">
          <mat-radio-group [(ngModel)]="labelPosition">
            <mat-radio-button class="example-margin" value="25%">25%</mat-radio-button>
            <mat-radio-button class="example-margin" value="50%">50%</mat-radio-button>
            <mat-radio-button class="example-margin" value="75%">75%</mat-radio-button>
            <mat-radio-button class="example-margin" value="100%">100%</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
      <div class="modal-footer">
        
        <button type="button"  (click)="setProgressAction('/comments')"  data-dismiss="modal" class="btn btn-primary">Enregistrer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
<!-- set progress action Corrective modal -->
  <!-- END Data table -->


</section>