table {
    width: 100%;
  }
  
  button {
    margin: 16px 8px;
  }

  .title{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    line-height: 7px; 
}

.title h5 {
    font-size: 25px;
    font-weight: 600;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
  padding-right: 10px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.card .card-body {
  padding: 20px 29px 68px 23px;
}


th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 8px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}


@media screen and (max-width: 960px) {
  .table {
    border: 0;
    vertical-align: middle
  }

  .table caption {
    font-size: 1em;
  }
  
  /*  Enable this to hide header
  .mat-table .mat-header-cell {
    
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */
  .table .tr {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .table .th {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
  }
  .table .td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    
    font-size: .85em;
  }
  .table .td:last-child {
    border-bottom: 0;
  }
    .table .td:first-child {
    margin-top: 4%;
  }
}