<section>
     <!-- Data Table -->
     <div class="row">
        <div class="col-md-12">
          <div class="card">

            <div class="card-body">
              <div class="table-responsive">
                <button id="addRow" class="btn btn-success"><i class="fa fa-plus-square ml-1"></i> Action</button>
                <table id="myTable" class="display" style="width:100%">
                  <thead>
                    <tr>
                      <th>Mois</th>
                      <th>Problem/Analyse</th>
                      <th>Massnahmen</th>
                      <th>Verantwortlich</th>
                      <th>Termin</th>
                      <th>Abarbeitungsstatus</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>01-2018</td>
                      <td>Augmentation nombre des logiciels => Augmentation taille de la base.</td>
                      <td>Migration Base de donnée Access vers SQL Server et WinDev</td>
                      <td>G.Salem</td>
                      <td>01/08/2021</td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <button id="addRow" class="btn"><i class="fa fa-plus-square ml-1"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>01-2019</td>
                      <td>2020: Système Serveurs Obsolète</td>
                      <td>Installation des nouveaux Hard et Système Serveurs</td>
                      <td>G.Walid</td>
                      <td>01/08/2021</td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>01-2019</td>
                      <td>L'erreur humaine : principale source des cyberincidents</td>
                      <td>Former les utilisateurs => Directive de Sécurité de l'information</td>
                      <td>G.Walid</td>
                      <td>01/10/2019</td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- END Data table -->
  
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold"><i class="fa fa-plus-square ml-1"></i> Nouvelle Action</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"
                    aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Mois" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-exclamation-triangle"
                    aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Probleme / Analyse" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o"
                    aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Massnahmen" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o"
                    aria-hidden="true"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Verantwortlich" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-unique"><i class="fa fa-plus-square ml-1"></i> Add </button>
          </div>
        </div>
      </div>
    </div>

</section>